lib_managed

project/boot

project/build/target

target

lift_proto.db.h2.db

console.devmode.log

lift_proto.db.trace.db

//Mac files
.DS_Store

//exclude bat files/scripts
*.bat

//intellij files
.idea*

.projectFilesBackup